/* Swiper container styles */
.swiper {
  width: 100%;
  padding-bottom: 8px;
}

.swiper-wrapper {
  display: flex;
  gap: 9px;
  overflow-x: scroll;;
  padding-bottom: 6px;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 96px;
}

/* card styling */
.card-category {
  height: 96px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #52946B;
  font-weight: bold;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); // 3D shadow
  border: 3px solid #52946B;
  background: linear-gradient(to right, #ffffff, #e6dbdb);
}

a {
  text-decoration: none;  /* no underline */
  color: inherit;         /* keep font color the same */
  font-weight: normal;    /* keep font weight normal */
}

.banner * {
  text-align: center;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
}

.banner h1 {
  font-family: "Pacifico", cursive;
  color: #ffffff;
  font-size: 80px;
  font-weight: bolder;
}

.banner p {
  font-size: 24px;
  color: #ffffff;
  font-weight: bold;
}

.banner h2 {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 12px;
}

.cta-container {
  margin-top: 32px;
}
.cta-button {
  display: inline-block;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 14px 36px;
  border-radius: 999px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card-category .truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;   /* number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}

#vertical_recommendations_list.vertical-card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-top: 0px;
}

#vertical_recommendations_list.vertical-card-list > .card-item {
  width: 100%;
}

#vertical_recommendations_list .vertical-ard-category {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  background: linear-gradient(to right, #ffffff, #e6dbdb);
  // border: 3px solid #52946B;
  // border-radius: 8px;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
  color: #52946B;
  font-weight: bold;
  font-size: 16px;
  user-select: none;
  text-align: center;
  text-decoration: none;
}

#vertical_recommendations_list .truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
