/* Swiper container styles */
.swiper {
  width: 100%;
  padding-bottom: 16px;
}

.swiper-wrapper {
  display: flex;
  gap: 16px;
  overflow-x: scroll;;
}

.swiper-slide {
  flex: 0 0 auto;
  width: 140px; /* card width */
}

/* card styling */
.card-category {
  height: 140px;
  border-radius: 12px;
  background-size: cover;
  background-position: center;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 8px rgba(0,0,0,0.7);
  user-select: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
}

a {
  text-decoration: none;  /* no underline */
  color: inherit;         /* keep font color the same */
  font-weight: normal;    /* keep font weight normal */
}

/* 3. Center all text */
.banner * {
  text-align: center;
}


.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: #D62839;
  font-size: 48px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: #52946B;
}
