.g-map-sticky {
  position: sticky;
  top: 0;
}

.g-map-container {
  position: relative;
}

.overflow-scroll-list {
  overflow: scroll;
  height: 40vh;
}

.button-left-abs {
  position: absolute;
  left: 15px;
  bottom: 20px;
  z-index: 1000;
  color: #a7c4b2;
  font-size: 2rem;
  cursor: pointer;
}

.overflow-scroll-index-list {
  overflow-y: scroll;
  max-height: 300px;
}
