.places-info p {
  font-size: 12px;
}

.places-info {
  height: auto;
}


.reviews i {
 font-size: 36px;
 color: #52946B;
}

.comments h2 {
  font-size: 21px;
  font-weight: bold;
}

.comments h3 {
  font-size: 17px;
  font-weight: regular;
}

.places-icons-container {
  display: flex;
  justify-content: space-between;
  background-color: #E9EEE9;
  padding: 14px 14px; /* p-2 */
}

.fa-route,
.fa-thumbs-up,
.fa-square-plus {
  font-size: 30px !important; // or whatever size you want
}

.btn-add-pin {
  border: none;
  outline: none;
  box-shadow: none;
  background: none;
  padding: 0;
  color: #52946B;
}


.search-new-place {
  padding: 8px 16px;
  background-color: #52946B;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
