<div class="place-search-card">
  <div class="place-search-img-container">
    <%= image_tag place.photo_url %>
  </div>
  <div class="place-search-card-infos">
    <h2><%= place.title %></h2>
    <p class="description"><%= place.address %></p>
  </div>
  <div class="member-count text-top">
  </div>
</div>
