<div>
  <h1>Review this Pin:</h1>
  <form action="/your-submit-url" method="post">
    <div class="mb-3">
      <label for="titleInput" class="form-label">
        <h2>Title:</h2>
      </label>
      <input type="text" class="form-control" id="titleInput" name="title" placeholder="a gorgeous independent cafe...">
    </div>
    <div class="mb-3">
      <label for="reviewTextarea" class="form-label">
        <h2>Your review:</h2>
      </label>
      <textarea class="form-control" id="reviewTextarea" name="review" rows="3"></textarea>
    </div>
    <button type="submit" class="button">Submit</button>
  </form>
</div>
