<div class="comment-card">
  <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  <div class="comment-card-infos">
    <div class="d-flex gap-3 align-items-center">
      <h2>User name</h2>
      <h3>2d</h3>
    </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut alias, in voluptatum debitis excepturi, nisi veritatis corrupti rerum doloremque, ipsa consectetur qui similique ea soluta est quae aperiam placeat totam.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam enim corrupti dolore quidem illo dignissimos, mollitia delectus numquam rerum asperiores corporis adipisci vitae laboriosam iure accusamus placeat vel accusantium qui?
    </p>
  </div>
</div>
