<div class="maps-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="maps-card-infos">
    <h2>Map name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
  <div class="text-top">
    <p>399 members</p>
  </div>
</div>
