<div class="place-card">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="place-card-infos">
    <h2>Place Name</h2>
    <p>Location/Address</p>
  </div>
  <%= link_to "#", class:"btn-location-pin" do  %>
    <i class="fa-solid fa-location-pin"></i>
  <% end %>
</div>
