<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<!-- Search Field Component -->
<div class="search-container">
  <input type="text" class="search-input" placeholder="Search movies...">
  <button class="button">Search</button>
</div>
