<div class="home-hero">
  <div class="hero-content">
    <h1 style="color:rgb(255, 255, 255)">
      Create. Share. Pin.
    </h1>
    <p>Create, share and follow social maps to find the spots that make your city home.</p>

    <%= link_to "Explore", owner_maps_path, class:"button "%>
  </div>
</div>
