<div class="home-hero">
  <div class="hero-content">
    <h1 style="color:rgb(197, 49, 0); text-shadow: 2px 2px 10px rgb(31, 3, 3); font-weight: 900;">
      Create <strong>maps</strong> with <strong>Pins</strong>!
    </h1>
      <p>Maps, created for you by you and your community.</p>
    <a class="btn btn-primary explore-btn" href="<%= maps_path %>">Explore</a>
  </div>
</div>
