<div class="container">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'pins_team_small.png' %>);">
    <div class="container">
      <h1>Create <strong>maps</strong> with <strong>Pins</strong>!</h1>
      <p>Maps, created for you by you and your community.</p>
      <a class="button" href="<%= maps_path %>">Explore</a>
    </div>
  </div>
</div>
