.button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #52946B;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.button:hover {
  background-color: #337354;
}

.icon-button {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.icon-button:focus {
  outline: none;
}
