.comment-card {
  overflow: hidden;
  height: auto;
  display: flex;
  align-items: center;
  padding: 8px;
}

.comment-card img {
  height: 48px;
  width: 48px;
  object-fit: cover;
}

.comment-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.comment-card h3 {
  font-size: 14px;
  margin: 0;
}

.comment-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.comment-card .comment-card-infos {
  padding: 16px;
}
