.home-hero {
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), image-url("pins_background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;

  .hero-content {
    color: #FFD700; // texto amarillo suave
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.9);

    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 20px;
    }

    p {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 30px;
    }

    .explore-btn {
      padding: 14px 36px;
      font-size: 1.2rem;
      font-weight: bold;
      border-radius: 30px;
      background-color: #52946B;
      color: #ffffff;
      border: none;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      transition: all 0.3s ease;

      &:hover {
        background-color: white;
        color: #52946B;
        border: 2px solid #52946B;
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
      }
    }
  }
}
