.map-card {
  overflow: hidden;
  height: 80px;
  background: white;
  display: flex;
  align-items: flex-start;
  position: relative;
  padding-right: 5px; /* add padding on the right for icon */
}

.map-card i.fa-solid.fa-bookmark {
  margin-left: auto;   /* push icon to the right */
  padding: 5px;
  font-size: 1rem;
  color: #52946B;
}

.map-card img {
  padding: 12px;
  height: 100%;
  width: 80px;
  object-fit: cover;
}

.map-card h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.map-card p {
  font-size: 14px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.map-card .maps-card-infos {
}

.text-top {
  position: absolute;
  top: 10px;
  right: 10px;
}

.map-card .member-count {
  font-size: 14px;
  opacity: 0.7;
  margin: 2px 0; /* small margin top and bottom */
  font-style: italic;
}
