
  .map-avatar {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
  }

  .map-card-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .map-info-link {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;

    &:hover {
      opacity: 0.85;
    }
  }

  .text-info {

    .description {
      margin: 0;
      font-size: 0.85rem;
      color: #555;
    }
  }

  .icon-container {
    margin-left: 12px;
    min-width: 24px;
    display: flex;
    align-items: center;
  }

  .icon-button {
    border: none;
    background: none;
    padding: 0;
  }
