.map-show-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;

  h2 {
    margin: 0;
  }
}

.text-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    .description {
      margin: 0;
      font-size: 0.85rem;
      color: #555;
      flex-wrap: wrap;
      word-break: break-word;   // break long words if needed
      overflow-wrap: anywhere;
    }
  }

.icon-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  gap: 4px;
  flex-shrink: 0;

  .description {
    font-size: 0.85rem;
    color: #555;
    margin: 0;
    text-align: center;
  }
}

.member-pin-count {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  font-size: 0.85rem;
  color: #555;
  span {
    margin-left: 14px;
  }
}
.collaborator-avatar {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: -19px;
  border: white 1px solid;
}