.bottom-navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 10;
  padding-bottom: env(safe-area-inset-bottom);
  margin-top: auto;
}

.nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36x;
  text-decoration: none;
}
