.place-search-card {
  overflow: hidden;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-right: 5px; /* add padding on the right for icon */
}

.place-search-card i.fa-solid.fa-bookmark {
  margin-left: auto;   /* push icon to the right */
  padding: 5px;
  font-size: 1rem;
  color: #52946B;
}

.place-search-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 120px;/* Remove padding */
}

.place-search-card img {
  height: 80px;
  width: 80px !important;
  object-fit: cover;
  box-sizing: border-box;
}

.place-search-card h2 {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}

.place-search-card h3 {
  font-size: 14px;
  margin: 0;
}

.place-search-card p {
  font-size: 14px;
  line-height: 1;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 4px;
}

.place-search-card-infos {
  width: 80%;
}

.text-top {
  position: absolute;
  top: 0px;
  right: 0px;
}

.place-search-card .member-count {
  font-size: 14px;
  opacity: 0.7;
  margin: 2px 0; /* small margin top and bottom */
  font-style: italic;
}

.fa-plus-green {
  color: #52946B;
}
