.carousel-absolute {
  position: relative;
  margin-top: 44px;
  margin-bottom: 16px;
}

.text-bottom {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: start;
  position: absolute;
  bottom: 0;
  left: 16px;
}

.text-bottom h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 24px;
  font-weight: bold;
}

.text-bottom p {
  font-size: 16px;
  color: white;
  opacity: .9;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.carousel-inner {
  img {
    width: 100%;
    height: 256px;
    object-fit: cover;
    object-position: center;
  }
}

.carousel-item .d-block {
  filter: brightness(80%);
  border-radius: 5px;
}
