<div class="search_place_container search-bar-container-mb" data-controller="google-maps" data-markers="<%= @markers.to_json %>">

  <%# <input type="text" id="place-search" data-google-maps-target="search" placeholder="Search for a place..." />
  <button id="search-btn" data-action="click->google-maps#search">Search</button> %>
  <div id="search-results">
    <div
  id="map"
  data-google-maps-target="map"
  style="width: 100%;
  height: 50vh;"
></div>
    <div class="search-bar-container" class="map-list";>
      <%= form_with url: maps_path, method: :get, local: true do |form| %>
        <div class="search-input">
          <%= form.text_field :query, placeholder: "Communities", class: "form-control" %>
        </div>
        <%= form.submit "Find Communities", class: "button" %>
      <% end %>
    </div>
