<div class="bottom-navbar">
  <%# ðŸ—ºï¸  %>
  <%= link_to(owner_maps_path, class: "nav-icon") do %>
    <i class="fa-solid fa-map" style="color: #52946B; font-size: 1.4rem;"></i>
  <% end %>

  <%# âž•  %>
  <%# <%= link_to("new", class: "nav-icon") do %> 
    <i class="fa-solid fa-plus" style="color: #52946B; font-size: 1.4rem;"></i>
  <%# end %>

  <%# ðŸ””  %>
  <%= link_to((current_user ? maps_path : new_user_session_path), class: "nav-icon") do %>
    <i class="fa-solid fa-bell" style="color: #52946B; font-size: 1.4rem;"></i>
  <% end %>

  <%# ðŸ‘¤%>
  <%= link_to((current_user ? edit_user_registration_path : new_user_session_path), class: "nav-icon") do %>
    <i class="fa-solid fa-user" style="color: #52946B; font-size: 1.4rem;"></i>
  <% end %>
</div>
